@import url("general.css");

.centro{
	width: 35%;
	height: 350px;
	margin: 0 auto;
	background-color: #FAFAFA;
	border: 5px solid black;
	border-radius: 10px;
	margin-top: 100px;
	padding: 0 40px 40px 40px;
}



.float_left{
	float: left;
}

.caja_texto{
	border: 4px solid #A9F5F2;
	width: 340px;
	height: 35px;
	padding-left: 20px;
}

.float_izq{
	float: left;
}

.float_der{
	float: right;
}

.boton_form{
	float: left;
	width: 120px;
	color: white;
	margin-left: 20px;
	margin-right: 5px;
	background-color: #2E2EFE;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	padding: 5px 0; 
}

.boton_form:active{
	float: left;
	width: 120px;
	color: white;
	margin-left: 25px;
	margin-top: 5px;
	margin-right: 0;
	background-color: #2E2EFE;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	box-shadow: 0 0 0 #000;
	padding: 5px 0; 
}

a{
	text-decoration: none;
}