body{
	background-color: #A4A4A4;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
	width: 1300px;
}

h1{
	font-size: 36px;
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}

.separador_mini{
	width: 100%;
	height: 10px;
}
.separador_corto_mini{
	width: 100%;
	height: 12px;
}
.separador_corto{
	width: 100%;
	height: 15px;
}

.separador_largo{
	width: 100%;
	height: 75px;
}

.sombra{
    box-shadow: 10px 10px 5px #000;
}

.sombra_min{
    box-shadow: 5px 5px 2px #000;
} 

.oculto{
	width: 40%;
	margin: 0 auto;
	font-size: 10px;
	text-align: center;
	border: 1px solid red;
	border-radius: 2px;
	color: red;
	background-color: #F8E0E0;
}

.margen{
	margin-left: 30px;
}

.in_line{
	display: inline-block;
}

.borde_min{
	border-radius: 5px;
}

