@import url("general.css");

.cent{
	text-align: center;
}
section{
	width: 95%;
	margin: 0 auto;
	background-color: white;
	border-radius: 10px;
}

.title_div{
	width: 95%;
	margin: 0 auto;
}

.cabezera_div{
	width: 95%;
	margin: 0 auto;
	background-color: black;
	padding: 15px 0;
	font-size: 20px;
	border-radius: 10px 10px 0 0;
	clear: both;
}

.linea{
	display: inline-block;
   width: 24%;
	margin: 0;
	text-align: center;
	font-weight: bold;
	color: white;
}

.lista_div{
	width: 95%;
	margin: 0 auto;
	background-color: white;
	font-size: 16px;
}

.linea_list{
	display: inline-block;
   width: 23%;
   min-height: 40px;
	font-weight: bold;
	padding: 20px 5px 0 5px;
}

.lista_div:nth-child(even){
	background-color: #D8D8D8;
}

.izq_button_der{
	border-radius: 0 0 10px 10px;
}

.paginacion_div{
	padding-left: 40px;
}

.paginacion_div div{
	display: inline-block;
   	width: 2%;
   	padding: 5px;
   	border: 1px solid black;
   	border-radius: 2px;
   	background-color: #A2DFF0;
   	text-align: center;
}
.pri_ult:first-child, .pri_ult:last-child{
	width: 10%;
}

.bordes{
	border-radius: 8px 0 0 0;
}

.form_contact{
	width: 17%;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0 20px 0 20px;
	float: left;
	background-color: #A2DFF0;
}

.form_contact:active{
	width: 17%;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0 20px 0 20px;
	float: left;
	background-color: #A2DFF0;
	margin-left: 5px;
	margin-top: 5px;
	box-shadow: 0 0 0 #000;
}

.tope{
	width: 5%;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0 20px 0 0;
	background-color: #00703F;
	margin-right: 10px;
	float: right;
}

.tope:active{
	width: 5%;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0 20px 0 0;
	background-color: #00703F;
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	box-shadow: 0 0 0 #000;
}

.delete_edit{
	width: 30px;
	margin-left: 20px;
	margin-right: 5px;
	margin-top: -5px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
}

.delete_edit:active{
	width: 30px;
	margin-top: 5px;
	margin-right: 0;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	box-shadow: 0 0 0 #000;
}
.left{
	float: left;
	margin-left: 84px;
}
.left:active{
	margin-left: 91px;
}
.der{
	float: right;
	margin-right: 84px;
}

.der:active{
	margin-right: 74px;
}
