@import url("general.css");

.centro{
	width: 35%;
	height: 300px;
	margin: 0 auto;
	background-color: #FAFAFA;
	border: 5px solid black;
	border-radius: 10px;
	margin-top: 100px;
	padding: 0 40px 40px 40px;
}

.float_left{
	float: left;
}

.caja_texto{
	border: 4px solid #A9F5F2;
	width: 340px;
	height: 35px;
}

a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.boton{
	width: 200px;
	margin-left: 100px;
	padding: 10px 30px;
	background-color: #2E2EFE;
	clear: both;
	border-radius: 10px;
	text-align: center;
}

.boton:active{
   width: 200px;
	padding: 10px 30px;
	margin-left: 105px;
	margin-top: 5px;
	background-color: #2E2EFE;
	clear: both;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 0 #000;
}